@using InventoryManagement.ViewModels
@model IEnumerable<CustomerListViewModel>

@{
    ViewData["Title"] = "Customer List";
}

<div class="w-100 py-5" style="background-color: #FBFBFD;">
    <div class="container" style="max-width: 1000px;">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="fw-bold text-center flex-grow-1 text-dark">Customer List</h2>
            <a class="btn btn-primary ms-3" asp-action="Create">+ Add New Customer</a>
        </div>

        <table class="table table-hover table-striped rounded">
            <thead class="text-center">
                <tr>
                    <th class="text-white bg-primary" >ID</th>
                    <th class="text-white bg-primary" >Name</th>
                    <th class="text-white bg-primary" >Last Order Date</th>
                    <th class="text-white bg-primary" >Last Order Price</th>
                    <th class="text-white bg-primary" >Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="align-middle text-center">
                        <td>@item.CustomerId</td>
                        <td>@item.FullName</td>
                        <td>
                            @(item.LastOrderDate?.ToString("yyyy-MM-dd") ?? "No Orders Yet")
                        </td>
                        <td>$ @item.LastOrderPrice.ToString("N2")</td>
                        <td>
                            <a class="btn btn-info text-white btn-sm me-1" asp-action="Details" asp-route-id="@item.CustomerId">View</a>
                            <a class="btn btn-warning text-dark btn-sm me-1" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
